# Pandas
## Author: Gustavo Amarante

Pandas is an open source library providing **high-performance, easy-to-use data structures and data analysis tools** for the Python programming language. The main idea behind this library is a **table**, which pandas calls a **`DataFrame`**. Pandas allows you to handle data in a way that is much more intuitive than other softwares, like MATLAB. Think of it as an Excel spreadsheet, which has named lines and columns. For those who used "R" before, pandas is to python as `dplyr` is to "R". Pandas also allows for very basic data visualization. 

The development of this library began in 2008 at [AQR Capital Management](https://www.aqr.com/). In 2009 the library was open sourced.

If you are looking for a quick tutorial have a look at the [pandas cookbook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html) or, if want to go deep in the details (and you should), here is the [official documentation](https://pandas.pydata.org/pandas-docs/stable/index.html). Scroll through the index and see what interests you (there is a friendly PDF version which has 2600 pages!!!).

**Obs**: the name "pandas" comes from "**Pan**el **Da**ta **S**tructure", which was the original purpose of the library.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  # ignore this line for now

---
# The `Series` Object
You can think of a `Series` as a "named sequence of indexed values".

In [7]:
by = pd.Series(index=['Clark', 'Bruce', 'Peter', 'Tony', 'Diana'], data=[1968, 1995, 1978, 1977, 1973], name='Birth Year')
by   # We can make this code a little prettier

Clark    1968
Bruce    1995
Peter    1978
Tony     1977
Diana    1973
Name: Birth Year, dtype: int64

In [8]:
type(by)

pandas.core.series.Series

We can access the values inside of the series by their index with different methods

In [16]:
by.loc['Tony']  # here 'loc' means 'location'

1977

In [17]:
by.iloc[0]  # 'iloc' allows you to treat the series as a MATLAB object...

1968

In [19]:
by.iloc[-1]  # ... but with a few different twists

1973

In practice, a pandas `Series` is holding a **single variable**. If we want to handle several variables at once, we need a different type of object...

---
# The `DataFrame` Object

Think of a `DataFrame` as a collection of several `Series`.

A `DataFrame` has three ingredients: `index` (observation identifier), `columns` (variable/`Series` identifier) and `data`.

The cell below creates a `DataFrame` with two `Series`, the first one called "Birth Year" and the second one called "Height".

In [20]:
my_df = pd.DataFrame(columns=['Birth Year', 'Height'], 
                     index=['Clark', 'Bruce', 'Peter', 'Tony', 'Diana'],
                     data=[[1968, 1.85], 
                           [1995, 1.65], 
                           [1978, 1.75], 
                           [1977, 1.69], 
                           [1973, 1.64]])
my_df

       Birth Year  Height
Clark        1968    1.85
Bruce        1995    1.65
Peter        1978    1.75
Tony         1977    1.69
Diana        1973    1.64

In [21]:
type(my_df)

pandas.core.frame.DataFrame

There are other ways to declare a `DataFrame` that might be useful. For example, you can pass a `dict` variable to the `data` atribute, where the keys of the dictionary are the names of the variables.

In [23]:
data_dict = {'Birth Year': [1968, 1995, 1978, 1977, 1973],
             'Height': [1.85, 1.65, 1.75, 1.69, 1.64]}

index_list = ['Clark', 'Bruce', 'Peter', 'Tony', 'Diana']

my_df = pd.DataFrame(data=data_dict, 
                     index=index_list)

my_df

       Birth Year  Height
Clark        1968    1.85
Bruce        1995    1.65
Peter        1978    1.75
Tony         1977    1.69
Diana        1973    1.64

Now that we have our `DataFrame` we can access **variables** (columns/`Series`) using their column name or access the **observation** (line/index) using the `.loc[]` atribute.

In [25]:
my_df['Height']

Clark    1.85
Bruce    1.65
Peter    1.75
Tony     1.69
Diana    1.64
Name: Height, dtype: float64

In [26]:
my_df.loc['Diana']

Birth Year    1973.00
Height           1.64
Name: Diana, dtype: float64

A specific value can be acessed in three ways. Either by giving the column/index names or by explicitly giving the position on the dataframe using the `.iloc[]` atribute (Although you can access values by their positions, this is not considered good practice for programming).

In [27]:
my_df['Height']['Diana']

1.64

In [28]:
my_df.loc['Diana', 'Height']

1.64

In [29]:
my_df.iloc[4, 1]  # Treats the DataFrame as a MATLAB matrix. It's not considered good practice, but it's possible.

1.64

Now that we know the basics, lets work with a real data set.

---

# Reading Data From an Excel Spreadsheet
On the example below we are going to use data from ENEM 2015.

In [30]:
enem_df = pd.read_excel("data/Planilhas_Enem_2015_download.xlsx", skiprows=2)

## Data Exploration
What are the variables (columns) in this dataset?

In [ ]:
enem_df.columns

If you need to look at the contents of the `DataFrame`, but not all it, use the `.head()`, `.tail()` or `.sample()` method.

In [ ]:
enem_df.head()

Pandas has a quick way to describe quantitative variables.

In [ ]:
enem_df.describe()

Notice that the output of the `.describe()` method is also a `DataFrame`. Which means we access its values as well.

In [ ]:
my_query = enem_df.describe()
my_query['MÉDIA ESCOLA']['max']

In [ ]:
enem_df['MÉDIA ESCOLA']  #.hist()  # try "bins"

## Selections / Filters

In [ ]:
enem_df['DEPENDÊNCIA ADMINISTRATIVA']

In [ ]:
enem_df['DEPENDÊNCIA ADMINISTRATIVA'] == 'Privada'

In [ ]:
is_private = enem_df['DEPENDÊNCIA ADMINISTRATIVA'] == 'Privada'  # 'True' for private schools
in_CE = enem_df['SIGLA DA UF'] == 'CE'  # 'True' for schools in CE
enem_df[is_private & in_CE]

You can query based on partial matches

In [ ]:
enem_df['NOME DA ENTIDADE'].str.contains('NOSSA SENHORA')

In [ ]:
name_filter = enem_df['NOME DA ENTIDADE'].str.contains('NOSSA SENHORA')
enem_df[name_filter][['NOME DA ENTIDADE', 'MÉDIA ESCOLA', 'SIGLA DA UF']]

## Chaining Commands
***Question***: What are the five states with the highest average score? What are their abandon rate?

In [ ]:
enem_df.groupby('SIGLA DA UF').mean()[['MÉDIA ESCOLA', 'TAXA DE ABANDONO']].sort_values('MÉDIA ESCOLA', ascending=False).head(5)

In [ ]:
result = enem_df.groupby('SIGLA DA UF').mean()[['MÉDIA ESCOLA']].sort_values('MÉDIA ESCOLA', ascending=False)
result.plot()  # kind='bar', figsize=(15,6), ylim=[530, 585]

In [ ]:
pd.crosstab(enem_df['LOCALIZACAO'], enem_df['DEPENDÊNCIA ADMINISTRATIVA'])

In [ ]:
pd.crosstab(enem_df['LOCALIZACAO'], enem_df['DEPENDÊNCIA ADMINISTRATIVA'], margins=True)

In [ ]:
pd.crosstab(enem_df['LOCALIZACAO'], enem_df['DEPENDÊNCIA ADMINISTRATIVA'], margins=True, normalize='all')

## Pivot Tables
This functionality works exactly as the pivot table from MS Excel or MS Access.

In [ ]:
pd.pivot_table(enem_df, values='MÉDIA ESCOLA', index='DEPENDÊNCIA ADMINISTRATIVA', columns='LOCALIZACAO', aggfunc=np.mean)

In [ ]:
pd.pivot_table(enem_df, values='MÉDIA ESCOLA', index=['DEPENDÊNCIA ADMINISTRATIVA', 'LOCALIZACAO'], columns='SIGLA DA UF', aggfunc=np.mean)

# Practical Example - Fecth Data from the BCB
If you find a good source of data and they happen to have a **data API**, it is very easy to build a function that fetches the data. In this example, we will make a wrapper for the [data API of the Time Series Management System](https://dadosabertos.bcb.gov.br/dataset/20542-saldo-da-carteira-de-credito-com-recursos-livres---total/resource/6e2b0c97-afab-4790-b8aa-b9542923cf88) ([Sistema de Gerenciamento de Séries](https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries), SGS) of the brazilian central bank.

The data is available in **JSON format** (google it!). The idea is to build a function that receives the Series ID and returns a DataFrame with the series.

In [ ]:
df = pd.read_json('https://api.bcb.gov.br/dados/serie/bcdata.sgs.24364/dados?formato=json')
df = df.set_index(pd.to_datetime(df['data'], dayfirst=True)).drop('data', axis='columns')
df.columns = ['IBC-Br']
df

In [ ]:
def get_SGS_data(series_id, series_name):
    url = f'https://api.bcb.gov.br/dados/serie/bcdata.sgs.{series_id}/dados?formato=json'
    df = pd.read_json(url)
    df = df.set_index(pd.to_datetime(df['data'], dayfirst=True)).drop('data', axis='columns')
    df.columns = [series_name]
    return df

You could make this function a bit more fancy by adding date filters, allowing to fecth several series at the same time (maybe by passing a list of series IDs). It would be perfect if you turned that into a python library so that everyone can use.

To test our function, let's look at the IBC-Br with seasonal adjustment (Mohtly proxy for the brazilian GDP). Its series ID is 24364.

In [ ]:
df_IBCbr = get_SGS_data(24364, 'IBC-Br')
df_IBCbr.plot()

# Pratical Example - Fetch Data from the FRED
We can repeat the exercise but using the data API from the [FRED](https://fred.stlouisfed.org/). Their data API URL requires a bit more work to get a clean result, but thanks to python, its possible to do it in just a few lines. To fully understand the code below you will need to understand a bit more about regular expressions.

In [ ]:
def getFRED(ticker, series_name):
    df = pd.read_csv('https://fred.stlouisfed.org/data/' + ticker + '.txt', sep='\n')  # read data from website
    series_start = df[df[df.columns[0]].str.contains('DATE\s+VALUE')].index[0] + 1  # find the line where the series starts using regular expressions
    df = df.loc[series_start:]  # drop header description
    df = df[df.columns[0]].str.split('\s+', expand=True)  # split strings between date and value
    df = pd.DataFrame(data=df[1].values.astype(float), index=pd.to_datetime(df[0]), columns=[series_name])  # clean data
    df.index.rename('Date', inplace=True)
    return df

To test our scrapper, let's look at the american core CPI.

In [ ]:
df = getFRED('PAYEMS', 'payroll')  # CPILFESL  PAYEMS
df[df.index > pd.to_datetime('2000-01-01')].diff(1).plot()

## Resampling VS Rolling
There is a difference between a moving average of the last 3 months and a series of quarterly frequency.

In [ ]:
df['payroll change'] = df['payroll'].diff(1)
df['payroll change 3m MA'] = df['payroll change'].rolling(3).mean()

In [ ]:
df[['payroll change', 'payroll change 3m MA']].plot(figsize=(15, 8))

The `.resample()` method is different from the `.rolling()` because it changes the frequency of the series. All the resampling aliases are available [here](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

In [ ]:
df['payroll change'].resample('Q').mean()

# Working with financial data

In [ ]:
df_stocks = pd.read_excel('data/stocks_portfolio.xlsx', sheet_name='Values')
df_stocks.dropna(how='all')
df_stocks

In [ ]:
df_stocks.columns.str.slice(0, 5)
# df_stocks.columns = df_stocks.columns.str.slice(0, 5)

In [ ]:
df_stocks.plot(figsize=(15,6))

In [ ]:
df_returns = df_stocks.pct_change(1)

df_returns_1y = df_stocks.pct_change(252)
df_returns_1y.plot(figsize=(15, 6))

In [ ]:
df_vols_1y = df_returns.rolling(252).aggregate(np.std)*np.sqrt(252)
df_vols_1y.plot(figsize=(15, 6))

In [ ]:
df_sharpe = df_returns_1y/df_vols_1y
df_sharpe.plot(figsize=(15,6))

In [ ]:
df_returns.hist(figsize=(15,8), bins=50)
plt.show()

In [ ]:
df_returns.corr()

## Read Data From an SQL DataBase
IF you have no idea of what SQL is, Google it!

If you know what it is but do not know how to use it, there is a great [course from CodeCademy](https://www.codecademy.com/learn/learn-sql). It is a fast course, you can do everything in less than two hours.

The example below is just to show that pandas is capable of grabing data straight from a database, without the need of specific software. The `.sqlite` file simulates an SQL Database. Usually you would put the address of the Database server in its place.

In [ ]:
import sqlite3
connection = sqlite3.connect('data/weather_2012.sqlite')
query = 'SELECT * FROM weather_2012 WHERE temp > 0 LIMIT 10'
DadosSQL = pd.read_sql(query, connection)
DadosSQL

# Merge and Concatenate
[Here](https://pandas.pydata.org/pandas-docs/stable/merging.html) you can find a great tutorial with all the merging and concatenating possibilities. Pandas has the same "set-theoritical join functionalities" as an SQL database (outter join, inner join) and also some other time-series friendly methods.

Here are a few examples. Lets create some example DataFrames e visualize them

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                     index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

display(df1)
display(df2)
display(df3)
display(df4)

In [ ]:
pd.concat([df1, df2, df3])

In [ ]:
pd.concat([df1, df4], axis=0, join='outer', sort=True)

In [ ]:
pd.concat([df1, df4], axis=1, join='inner')

In [ ]:
df1.append(df3)

More elaborate merges are possible using the `merge` method. Details can be [found here](https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging)